<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar-admin.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h3>Articles</h3>
            <a href='/admin/articles/new' class="btn btn-success">Create new article</a>
        </div>
        <div class="card-body">
            <table class='table table-bordered'>
                <tread>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </tread>
                <tbody>

                    <% articles.forEach( article => { %>
                    <tr>
                        <td><%= article.id %></td>
                        <td><a href='/admin/articles/<%= article.id %>'><%= article.title %></a></td>
                        <td><%= article.slug %></td>
                        <td><%= article.category.title %></td>
                        <td>
                            <a href='/admin/articles/edit/<%= article.id %>' class='btn btn-warning'>Edit</a>
                            <form action="/admin/articles/delete" method="POST" onsubmit="confirmDelete(event, this)" class='inline'>
                                <input type="hidden" name='id' value='<%= article.id %>'>
                                <button class='btn btn-danger'>Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>