<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar-admin.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h3>Register a new Article</h3>
        </div>
        <div class="card-body">
            <form action="/admin/articles/save" method="POST">
                <h3><label for="title" class='badge badge-info'>Title: </label> </h3>
                <input type="text" class='form-control' name='title' placeholder="Put your title here..."> <br>
                <h3><label for="category" class='badge badge-info'>Category: </label> </h3>
                <select name="categoryid" class='form-control'>
                    <% categories.forEach((category) => { %>
                        <option value="<%= category.id %>"> <%= category.title %> </option>
                    <% }) %>
                </select>
                <br>
                <h3><label for="content" class='badge badge-info'>Content: </label> </h3>
                <textarea name="content" id="content" placeholder="Put your article content here..."></textarea>
                <br>
                <button class="btn btn-success mt-4">Register article</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>
<script src='/tinyMCE/tinymce.min.js'></script>
<script>
    tinymce.init({
        selector: '#content',
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>