<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar-users.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h3>Article</h3>
        </div>
        <div class="card-body">
                <h3><label for="title" class='badge badge-info'>Title: </label> </h3>
                <input type="text" class='form-control' name='title' value='<%= article.title %>' disabled> <br>
                <h3><label for="category" class='badge badge-info'>Category: </label> </h3>
                <select name="categoryid" class='form-control' disabled> 
                        <option> <%= article.category.title %> </option>
                </select>
                <br>
                <h3><label for="content" class='badge badge-info'>Content: </label> </h3>
                <div class='card-body'><%- article.content %></div>
            <br>
            <button class="btn btn-success btn-block" onclick='window.history.back()'>Back</button>
        </div>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>